*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.no-scroll {
  overflow-y: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.header {
  align-items: flex-end;
  justify-content: space-around;
  padding: 1em 0;
  background: rgba(255, 255, 255, 0.44);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0.5em;
}
.header__logo img {
  width: 80px;
  height: 45px;
  margin-right: 2em;
}
.header__logo span {
  padding: 0 0.5em;
  color: #000000;
  font-size: 1.8rem;
}

.nav {
  display: none;
}

.nav-mobile {
  position: absolute;
  top: 90px;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 80%;
  transform: translateX(-100%);
  background: rgba(255, 255, 255, 0.44);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: transform 0.3s ease-in-out;
}
.nav-mobile--active {
  transform: translateX(0);
}
.nav-mobile__items {
  flex-direction: column;
  gap: 3em;
}
.nav-mobile__item {
  font-size: 2.2rem;
  color: #000000;
  transition: colo3 0.3s ease-in-out;
}
.nav-mobile__item:hover {
  color: #02affb;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

@media (min-width: 992px) {
  .header {
    display: flex;
  }
  .header__logo {
    align-items: center;
  }
  .nav-mobile {
    display: none;
  }
  .nav {
    display: block;
  }
  .nav__items {
    gap: 4.5em;
  }
  .nav__items li:nth-child(2) a {
    color: #7b113a;
    font-weight: 700;
  }
  .nav__items li:nth-child(1) a:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-size: 2.5rem;
    color: #8f8f94;
    top: -33px;
    left: 24px;
    content: "\f005";
  }
  .nav__items li:nth-child(2) a:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-size: 2.5rem;
    font-weight: 400;
    color: #8f8f94;
    top: -33px;
    left: 45px;
    content: "\f06e";
  }
  .nav__items li:nth-child(3) a:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-size: 2.5rem;
    color: #8f8f94;
    top: -33px;
    left: 20px;
    content: "\f02e";
  }
  .nav__items li:nth-child(4) a:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-size: 2.5rem;
    color: #8f8f94;
    top: -33px;
    left: 33px;
    content: "\f007";
  }
  .nav__items li:nth-child(5) a:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-size: 2.5rem;
    color: #8f8f94;
    top: -33px;
    left: 17px;
    content: "\f075";
  }
  .nav__item {
    position: relative;
    color: #000000;
    font-size: 1.6rem;
    transition: transform 0.3s ease-in-out;
  }
  .nav__item::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #02affb;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
  }
  .nav__item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .hamburger {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */