@use '../utilities/colors' as *;

.nav {
	display: none;
}

.nav-mobile {
	position: absolute;
	top: 90px;
	justify-content: center;
	align-items: center;
	height: 70vh;
	width: 80%;
	transform: translateX(-100%);
	background: rgba(255, 255, 255, 0.44);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.5px);
	-webkit-backdrop-filter: blur(6.5px);
	border: 1px solid rgba(255, 255, 255, 0.4);
	transition: transform 0.3s ease-in-out;

	&--active {
		transform: translateX(0);
	}

	&__items {
		flex-direction: column;
		gap: 3em;
	}

	&__item {
		font-size: 2.2rem;
        color: $third;
        transition: colo3 .3s ease-in-out;

        &:hover {
            color: $link; 
        }
	}
}
